
@{
    ViewData["Title"] = "view_last_home";
    Layout = "~/Views/Shared/_Admin_layout.cshtml";
}

<h2>view_last_home</h2>



<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>View image</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Simple Tables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content text-center">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        @foreach (System.Data.DataRow dr in ViewBag.ds4.Rows)
                        {
                            <tbody>
                                <tr>

                                    <td>@dr["id"].ToString()</td>
                                    <td>@dr["title"].ToString()</td>
                                    <td>@dr["name"].ToString()</td>
                                    <td>@dr["date"].ToString()</td>
                                    <td>@dr["category"].ToString()</td>
                                    <td>@dr["des"].ToString()</td>
                                    <td><img src="~/img/@dr["img"].ToString()" style="width:100px;" /></td>
                                    <td><a href="update_last_home/@dr["id"].ToString()" class="btn btn-primary">Update</a></td>
                                    <td><a href="delete_last_home/@dr["id"].ToString()" class="btn btn-danger">Delete</a></td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
</div>
</section></div>